language: node_js
nvm:
- 10.2.1
env:
  - NODE_ENV=test
deploy:
  provider: heroku
  api_key:
    secure: P3uawqFtIH1E/w5k++fXGfbWhyq/gb954J8msM5bhvHcvjVJx7JVme7WxAlhZBcZPJf4kuiFDjZsU1QBDR8Mdl9+A3o1QqBjTSOWwR25z9/uSbPBQ4MitdJqeyAgG4QFo/MjaY0hpQCaBVsi8BDDj3CXmLFfKXLlKfjMLb+cBnkrSyByYXV+5EV9IYkontt11O3HbMCDU+GF5lGOz4CHLahRzwZaKiycoeml+Qzo9oDXln2ziSk9JksBPH1RuS0HXd2pURlHle6H0eKfueSs1mv6nmYKYaLJdAUlom3XKERsGm8y+k7/KRqfuqgjISFu1VGxQGA0A/Mvk3NmMUcnJ+6ZBZjk/ujqRgWuBpBW9mJginZwYmd99EePI2JZkx2aJkiGPO3SVWdDWcyS8InJwCtlK6E/XEUtl/DeHwgbYee7uhc9I+X7gimuqwDK6ZfuGYdhNu7dT20LJkSTF12wJ+6+acB1i6aoYAwcWj7AaoceAfxGYwOSSD+n/pQpYnVLJMMHHJoBeC4tXWUGtr1HijINdO+R29B5VkUktt+8gUaOK+41A5KpAY/W0F/exQx0d2+8YStca2fPRS5bcNPqrHqBzJHpsQ+lKRuSkGmvVPWlHcQQIOP6V/EJgyDAuPKuDVorGLdqUJtjfAsBxxz3BTQ+utrzDWYNm8NSlWJHCRo=
  app: shrouded-depths-22477
  on:
    repo: thejonroberts/booking-node-api
  # run:
  #   - "npm run dbrb"
  #   - restart
  #   - "npm test"
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c "CREATE USER root WITH PASSWORD 'password';" -U postgres
  - npm run dbrb
script: npm test
addons:
  postgresql: "10"
