extends ../layout.pug
block content
  .container
    h1 Bands
    h3 Check em out!
    .row
      .card-columns
        each band in bands
          div.card
            img.card-img-top(src="/images/350x350.png" alt=`#{band.name} image or artwork`)
            div.card-body
              h5.card-title #{band.name}
              .row.justify-content-between
                h6.card-subtitle.col #{band.genre.name}
                h6.card-subtitle.text-right.col City, ST, CTY
              p.card-text I should add a band tagline / description here.
              a.btn(href=`/bands/${band.id}`) View
